a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    margin-left: 20px;
}
nav{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 1000px;
}
section{
    background-image: url('https://miro.medium.com/max/1200/1*TpUOBHLe2G-I6LXI3cLkwQ.jpeg');
    text-align: center;
    height: 600px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
section h1{
    padding-top: 250px ;
    color: white;
    font-size: xx-large;
}

p{
    font-size: large;
    font-weight: bold;
    color: grey;
    
}
img{
    height: 50px;
}